.error-container {
  padding: 40px 10px;
  margin: auto;
  max-width: 1000px;
  color: var(--black-900);
  & img {
    margin-top: 40px;
  }
}
.error-message {
  font-size: 2.25rem;
}
.error-details {
  margin-top: 20px;
  font-size: 1.5rem;
}
.error-stack {
  max-width: 100%;
  overflow-x: auto;
}
