.carousel-container {
  overflow: hidden;
  &.carousel-container--flipped {
    & > .carousel {
      margin-left: auto;
      flex-direction: row-reverse;
    }
  }
}
.carousel {
  display: flex;
  gap: 25px;
  align-items: stretch;
  /* this allows the div to function essentially as a pointer, and flex-direction dictates which side of the pointer the carousel should grow in */
  width: 0;
  translate: 0;

  & > .carousel__image {
    border-radius: var(--border-radius-base);
  }
}
