.carousel-container {
  overflow: hidden;
  margin-top: -60px;
}
.carousel {
  height: 300px;
  display: flex;
  gap: 25px;
  align-items: stretch;
  padding-bottom: 20px;
  width: fit-content;
  translate: -2000px;
}
.carousel__image {
  border-radius: var(--border-radius-base);
}
