.carousel {
  height: 300px;
  margin-top: 35px;
  display: flex;
  gap: 25px;
  overflow-x: scroll;
  align-items: stretch;
  padding-bottom: 20px;
}
.carousel__image {
  border-radius: var(--border-radius-base);
}
