@import url("./assets/fonts/jetbrains.css");
@import url("./assets/fonts/satoshi.css");
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* yanked from tailwind tokens */
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 2.75rem;
  --text-6xl: 3.75rem;
  --text-9xl: 6rem;

  --black-50: hsl(0, 0%, 97%);
  --black-100: hsl(0, 0%, 93%);
  --black-200: hsl(0, 0%, 89%);
  --black-300: hsl(0, 0%, 70%);
  --black-400: hsl(0, 0%, 50%);
  --black-500: hsl(0, 0%, 35%);
  --black-900: hsl(0, 0%, 0%);

  --blue-50: hsl(200, 23%, 97%);
  --blue-300: hsl(230, 50%, 80%);
  --blue-600: hsl(226, 76%, 50%);

  --red-500: hsl(0, 70%, 50%);

  --border-radius-base: 10px;
  --border-radius-lg: 40px;

  --bg-color: white;

  /* to indicate unstyled text (no text should be red) */
  color: red;
  /* this font weight is fine as the default though */
  font-weight: 500;

  font-display: block;
}
body {
  font-family: Satoshi, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--bg-color);
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
h1 {
  font-size: var(--text-5xl);
}
h2 {
  font-size: var(--text-3xl);
}
h3 {
  font-size: var(--text-xl);
}
p {
  font-size: var(--text-lg);
}
small {
  font-size: var(--text-xs);
}
button {
  all: unset;
  cursor: pointer;
  &:focus-visible {
    outline: 2px solid var(--blue-300);
    outline-offset: 2px;
  }
}
ul,
li {
  all: unset;
}
.centered-section {
  --padding: 40px;
  --max-container-width: 1200px;
  padding-inline: var(--padding);
  margin-inline: auto;
  max-width: var(--max-container-width);
  position: relative;
}
a {
  text-decoration: none;
}
