.title-section {
  text-align: center;
  margin-top: 190px;
  margin-bottom: 170px;
  position: relative;
}
.title-section__header {
  color: var(--black-900);
}
.title-section__desc {
  color: var(--black-500);
  line-height: 1.5;
  margin-top: 20px;
  font-size: 1.5rem;
}
.tool-logo-slot {
  z-index: 99;
  position: absolute;
  --icon-size: 55px;
  cursor: grab;
  will-change: transform;
  &:active {
    cursor: grabbing;
  }

  height: var(--icon-size);
  width: var(--icon-size);
  opacity: 0.6;
  &:nth-child(1) {
    left: 0;
    top: 0;
  }
  &:nth-child(2) {
    top: calc(-1 * var(--icon-size) - 30px);
    left: 250px;
  }
  &:nth-child(3) {
    bottom: calc(-1 * var(--icon-size) - 30px);
    left: 100px;
  }
  &:nth-child(4) {
    bottom: calc(-1 * var(--icon-size) - 50px);
    left: 450px;
  }
  &:nth-child(5) {
    top: calc(-1 * var(--icon-size) - 30px);
    right: 450px;
  }
  &:nth-child(6) {
    bottom: calc(-1 * var(--icon-size) - 70px);
    right: 250px;
  }
  &:nth-child(7) {
    top: calc(-1 * var(--icon-size) - 50px);
    right: 150px;
  }
  &:nth-child(8) {
    top: calc(-1 * var(--icon-size) + 30px);
    right: 10px;
  }
  &.tool-logo-slot--ai-san:hover {
    content: url("./assets/ai-san.png");
  }
}
.title-section__header__design-text {
  position: relative;
}
.decoration {
  position: absolute;
  /* background-color: blue; */
  inset: 0 -5px -7px;
  z-index: -1;
  --border-color: #24a4ff;
}
.decoration__line {
  background-color: var(--border-color);
  position: absolute;
  &:nth-child(1) {
    inset: 0 auto 0 0;
    width: 2px;
  }
  &:nth-child(2) {
    inset: 0 0 0 auto;
    width: 2px;
  }
  &:nth-child(3) {
    inset: 0 0 auto 0;
    height: 2px;
  }
  &:nth-child(4) {
    inset: auto 0 0 0;
    height: 2px;
  }
}
.decoration__square {
  position: absolute;
  height: 6px;
  width: 6px;
  border: 2px solid var(--border-color);
  background-color: var(--bg-color);
  &:nth-child(5) {
    top: -4px;
    left: -4px;
  }
  &:nth-child(6) {
    top: -4px;
    right: -4px;
  }
  &:nth-child(7) {
    bottom: -4px;
    left: -4px;
  }
  &:nth-child(8) {
    bottom: -4px;
    right: -4px;
  }
}
.title-section__header__code-block {
  color: var(--black-300);
  font-weight: 400;
  font-family: JetBrainsMono;
}
.project-tabs {
  margin: 0 auto;
  display: flex;
  gap: 50px;
  width: fit-content;
}
.tab {
  display: flex;
  position: relative;
  gap: 10px;
  align-items: center;
  font-size: var(--text-xl);
  font-weight: 700;
  color: var(--black-900);
  padding: 13px 30px;
  border-radius: var(--border-radius-lg);
  border: 1px solid transparent;
  transition: 0.2s background-color;
  &[aria-selected="true"] {
    background-color: var(--black-50);
    border-color: var(--black-200, #e3e3e3);
    &::after {
      content: '[aria-selected="true"]';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      text-align: center;
      transform: translate(0, calc(-100% - 10px));
      font-size: var(--text-xs);
      font-family: JetBrainsMono;
      color: var(--black-300);
      animation: appear 0.3s;
    }
  }

  &:hover {
    background-color: var(--black-50);
    &:active {
      background-color: var(--black-100);
    }
  }
}
@keyframes appear {
  from {
    transform: translate(0, calc(-100% - 2px));
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.tab__image {
  height: 1.4em;
}
.panel-container {
  height: 550px;
  overflow: hidden;
  margin-top: 55px;
  position: relative;
}
.panel {
  position: absolute;
  inset: 0;
  overflow: hidden;
  border-radius: var(--border-radius-base);
  border: 1px solid var(--black-300);
}

.panel__img {
  padding: 40px 55px 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  object-fit: cover;
  object-position: top;
  transition: 0.1s padding ease-out;
  cursor: pointer;
  &:hover,
  a:focus-visible > & {
    padding-top: 30px;
  }
  a:focus-visible > & {
    outline: 2px solid var(--blue-300);
    outline-offset: -20px;
  }
}
.panel__footer {
  background-color: #000000e5;
  position: absolute;
  inset: auto 0 0;
  padding: 30px 55px;
  color: var(--black-50);
  font-size: var(--text-xl);
  line-height: 1.5;
}
.contributor-pill-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 40px auto 0;
  width: fit-content;
  align-items: center;
  color: var(--black-500);
  font-size: 1.2rem;
}
.contributor-pill {
  border-radius: 20px;
  border: 1px solid var(--black-300);
  height: 30px;
  display: flex;
  padding: 5px 20px 5px 5px;
  align-items: center;
  gap: 10px;

  & img {
    border-radius: 50%;
    height: 100%;
  }
  font-size: 1.25rem;
  color: var(--black-900);
}
.contribution {
  min-height: 100px;
  padding: 20px 15px;
  width: 350px;
  box-sizing: border-box;
  display: flex;
  gap: 22px;
  background-color: var(--black-100);
  border-radius: 10px;
  & .contribution__pfp {
    height: 66px;
    flex-shrink: 0;
    border-radius: 10px;
  }
  & .contribution-description {
    min-width: 0;
    overflow-wrap: break-word;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    & .contribution-description__title {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      color: var(--black-900);
      font-size: 0.875rem;
      & .contribution-description__title__pr-number {
        color: var(--black-500);
        font-weight: lighter;
      }
    }
    & .contribution-description__footer {
      font-size: 0.75rem;
      & .footer__repo {
        color: var(--blue-600);
      }
      & .footer__time {
        margin-left: 5px;
        color: var(--black-500);
      }
    }
  }
}
