.header {
  font-size: 2.25rem;
  color: var(--black-900);
  margin-top: 50px;
}
.description {
  font-size: 1.25rem;
  color: var(--black-900);
  margin-top: 15px;
  a {
    text-decoration: underline;
    text-underline-offset: 3px;
  }
}
