.main-header-container {
  position: sticky;
  top: 0;
  backdrop-filter: blur(40px);
  background: rgba(255, 255, 255, 0.809);
  z-index: 999;
}
.main-header-layout {
  max-width: 1400px;
  margin-inline: auto;
  padding: 20px 40px;
  display: flex;
}

.logo {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: var(--text-xl);
  font-weight: 500;
  margin-right: auto;
}

.logo__img {
  height: 1.5em;
}
.logo__text {
  flex-grow: 0;
  color: var(--black-900);
}
.main-nav {
  display: flex;
  gap: 2px;
}
.nav-button {
  display: flex;
  gap: 4px;
  padding: 10px 13px;

  font-size: var(--text-base);
  align-items: center;
  color: var(--black-900);
  border: 1px solid transparent;
  border-radius: var(--border-radius-base);

  cursor: pointer;
  &:hover {
    background-color: var(--black-50);
  }
}

.nav-button--active {
  background-color: var(--black-50);
  border-color: var(--black-300);
}
.nav-button__icon {
  height: 1.1em;
}
