.in-progress-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  img {
    height: 200px;
    border-radius: 10px;
  }
  font-size: 1.5rem;
  color: var(--black-900);
}
