.main-container {
  display: flex;
  gap: 75px;
  margin: 30px 50px 70px 0;
  .left-section {
    --underline-color: hsl(200, 15%, 49%);
    /* background-color: hsl(197, 28%, 90%); */
    background-size: cover;

    .sponsors-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 10px;
      .sponsor {
        --tile-bg-color: hsl(216, 26%, 96%);
        background-color: var(--tile-bg-color);
        flex-grow: 1;
        box-sizing: border-box;
        border-radius: 5px;
        transition: 0.1s all;
        outline: 2px solid transparent;
        outline-offset: -4px;
        img {
          height: 100%;
          width: 100%;
          -webkit-user-drag: none;
          object-fit: contain;
          object-position: bottom;
        }
        &:hover:not(.sponsor--placeholder) {
          background-color: hsl(200, 65%, 91%);
          outline-offset: -2px;
          outline-color: hsl(200, 15%, 41%);
        }
        &.sponsor--premier {
          height: 130px;
          padding: 30px 20px;
          background: linear-gradient(
            83deg,
            #f6f8f9 -9.92%,
            #f1b51d 0.16%,
            #f5f1e3 65.86%
          );
          &:hover {
            outline-color: hsl(43, 88%, 73%);
            background: linear-gradient(
              83deg,
              #f6f8f9 -9.92%,
              #f1b51d 0.16%,
              #f5f1e3 95.86%
            );
          }
        }
        &.sponsor--partner {
          height: 70px;
          padding: 15px 15px;
        }
        &.sponsor--smaller {
          height: 50px;
          padding: 14px 10px 10px;
        }
        &.sponsor--placeholder {
          background-color: transparent;
          width: 100%;
        }
      }
    }
    .check-numbers {
      font-family: "micr";
      font-size: 1.4rem;
      text-align: left;
      color: var(--black-900);
      margin-top: 40px;
    }
  }
  .right-section {
    .right-section-sticky {
      position: sticky;
      top: 100px;
      .sponsor-packet-cover {
        width: 100%;
        -webkit-user-drag: none;
      }
      p {
        font-size: 1.25rem;
        text-align: center;
        color: var(--black-900);
        margin-top: 10px;
      }
    }
    width: 300px;
    flex-shrink: 0;
  }
}
