.main-container {
  display: flex;
  gap: 75px;
  margin: 30px 50px 70px 0;
  min-height: calc(100vh - 338px); /* yea probably clean this up TODO: */
  .left-section {
    h1 {
      font-size: 2rem;
      color: var(--black-900);

      text-align: center;
    }
    .sponsors-container {
      margin-top: 30px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      object-fit: contain;
      flex-wrap: wrap;
      gap: 8px;
      .sponsor {
        height: 90px;
        width: 100%;
        background-color: hsl(216, 26%, 96%);
        padding: 20px 15px;
        box-sizing: border-box;
        border-radius: 10px;
        outline: 0px solid hsl(216, 26%, 83%);
        transition: 0.1s all;
        -webkit-user-drag: none;
        &:hover {
          background-color: hsl(216, 26%, 91%);
          outline-width: 2px;
        }
        &.sponsor--premier {
          grid-column: 1/4;

          height: 115px;
          padding: 20px;
        }
      }
    }
  }
  .right-section {
    .right-section-sticky {
      position: sticky;
      top: 100px;
      .sponsor-packet-cover {
        width: 100%;
        -webkit-user-drag: none;
      }
      p {
        font-size: 1.5rem;
        text-align: center;
        color: var(--black-900);
        margin-top: 10px;
      }
    }
    width: 300px;
    flex-shrink: 0;
  }
}
