.main-container {
  display: flex;
  gap: 75px;
  margin: 30px 50px 70px 0;
  .left-section {
    h1 {
      font-size: 2rem;
      color: var(--black-900);

      text-align: center;
    }
    .sponsors-container {
      margin-top: 30px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      object-fit: contain;
      flex-wrap: wrap;
      gap: 8px;
      .sponsor {
        width: 100%;
        background-color: hsl(216, 26%, 96%);
        box-sizing: border-box;
        border-radius: 10px;
        outline: 0px solid hsl(216, 26%, 83%);
        transition: 0.1s all;
        img {
          filter: brightness(0.9);
          transition: 0.2s all;
          height: 100%;
          width: 100%;
          -webkit-user-drag: none;
        }
        &:hover:not(.sponsor--placeholder) {
          background-color: hsl(216, 26%, 91%);
          outline-width: 2px;
          img {
            filter: brightness(1);
          }
        }
        &.sponsor--premier {
          grid-column: span 2;

          height: 115px;
          padding: 20px;
          img {
            filter: brightness(1);
          }
        }
        &.sponsor--partner {
          height: 70px;
          padding: 20px 15px;
        }
        &.sponsor--smaller {
          height: 50px;
          padding: 14px 10px;
        }
      }
    }
  }
  .right-section {
    .right-section-sticky {
      position: sticky;
      top: 100px;
      .sponsor-packet-cover {
        width: 100%;
        -webkit-user-drag: none;
      }
      p {
        font-size: 1.25rem;
        text-align: center;
        color: var(--black-900);
        margin-top: 10px;
      }
    }
    width: 300px;
    flex-shrink: 0;
  }
}
