.main-container {
  margin-bottom: 100px;
  .header {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 83px;
    margin-bottom: 41px;
    text-align: center;

    color: var(--black-900);
  }
  .sponsors-container {
    display: grid;
    gap: 10px;
    margin-bottom: 10px;

    &.sponsors-container--premier {
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      position: relative;
      .sponsors-container--premier__inner-container {
        position: relative;
        height: 130px;
        background: linear-gradient(
          221deg,
          hsla(39, 99%, 86%, 1) 0%,
          rgb(243, 201, 123) 60%
        );
        border-radius: 5px;
        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          /* background-image: url("../assets/sponsors-page/title.svg"); */
          background-position: top right;
          background-repeat: no-repeat;
          height: 90px;
          width: 200px;
          background-size: contain;
          pointer-events: none;
        }
      }
      .sponsor {
        padding: 30px 40px;
        position: absolute;
        inset: 3px;
        background-color: hsl(42, 93%, 98%);
        outline-offset: -3px;
        overflow: hidden;

        &:hover {
          outline-color: transparent;
          background: hsl(43, 88%, 93%);
        }
      }
    }
    &.sponsors-container--partner {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      & .sponsor {
        background-color: hsl(200, 15%, 98%);
        height: 90px;
        padding: 25px 15px;
        outline-offset: -2px;
        outline: 2px solid hsl(200, 15%, 94%);
      }
    }
    &.sponsors-container--smaller {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      & .sponsor {
        height: 70px;
        padding: 20px 30px;
        outline-offset: -2px;
        outline: 2px solid hsl(200, 15%, 91%);
      }
    }
    .sponsor {
      background-color: var(--tile-bg-color);
      box-sizing: border-box;
      border-radius: 5px;
      transition: 0.1s all;
      outline: 2px solid transparent;
      img {
        height: 100%;
        width: 100%;
        -webkit-user-drag: none;
        object-fit: contain;
        object-position: center;
      }
      &:hover {
        background-color: hsl(200, 65%, 94%);
        outline-offset: 0px;
        outline-color: hsl(200, 15%, 41%);
      }
    }
  }
}
