.hero-container {
  overflow: hidden;
  position: relative;
  height: 100vh;
  max-height: 1000px;
}
.hero-section {
  padding: 10% 0 230px;
  position: relative;
}
.hero-background {
  position: absolute;
  left: 25%;
  top: 0px;
  z-index: -1;
  height: 100vh;
  max-height: 1000px;
  width: auto;
}
.title {
  font-weight: 700;
  font-size: var(--text-6xl);
  color: var(--black-900);
  position: relative;
  _: "Peeks in inspect element";
  content: 'If you want to build the next generation of production-grade products for CMU students and meet other passionate coders like yourself, we would love to have you! And since you found this, email "ilovescottylabs" to hello@scottylabs.org for a special gift!';
}
.decoration {
  position: absolute;
  z-index: -1;
  inset: 14px -1px 10px -1px;
}
.decoration__line {
  position: absolute;
  background-color: var(--black-200);
  &:nth-child(1) {
    inset: -200px 0 -100px auto;
    width: 1px;
  }
  &:nth-child(2) {
    inset: -200px auto -200px 0;
    width: 1px;
  }
  &:nth-child(3) {
    inset: auto -300px 0 -200px;
    height: 1px;
  }
  &:nth-child(4) {
    inset: 0 -300px auto -200px;
    height: 1px;
  }
}

.decoration__tooltip {
  position: absolute;
  top: 0;
  left: 80px;
  width: max-content;

  transform: translate(0, calc(-100% - 12px));
  color: var(--black-300);
  font-size: var(--text-xs);
  padding: 6px 16px;
  border: 1px solid var(--black-200);
  font-weight: 300;
  font-family: "JetBrainsMono";
}
.decoration__tooltip__arrow {
  position: absolute;
  bottom: 0;
  left: 60%;
  transform: translate(0, 50%) rotate(-45deg);
  width: 16px;
  height: 16px;

  border: 1px solid var(--black-200);
  clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
  background-color: var(--bg-color);
}
.subtitle {
  font-weight: 700;
  font-size: var(--text-3xl);
  color: var(--black-900);
  margin-top: 10px;
}
.marketing-text {
  margin-top: 10px;
  font-size: var(--text-xl);
  color: var(--black-500);
  width: 60%;
}
.action-buttons {
  margin-top: 60px;
  display: flex;
  gap: 20px;
}

.events-container {
  position: absolute;
  bottom: 110px;
  left: 0;
  right: 0;
  padding: 15px 0;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2px);
  border: 1px solid var(--black-300);
  border-left: none;
  border-right: none;
}
.events {
  display: flex;
  gap: 25px;
}
.events__button {
  padding: 10px 25px;
  color: var(--black-900);
  font-size: var(--text-base);
  border: 1px solid var(--black-300, #b3b3b3);
  border-radius: var(--border-radius-base);
  transition: 0.15s background-color;
  &:hover {
    background-color: var(--black-50);
    &:active {
      background-color: var(--black-100);
    }
  }
}
