.main-header-container {
  position: sticky;
  top: 0;
  backdrop-filter: blur(40px);
  background: rgba(255, 255, 255, 0.809);
  z-index: 999;
  transition: 0.3s background;
}
.hamburger-menu {
  display: none;
}
.main-header-layout {
  max-width: 1400px;
  margin-inline: auto;
  padding: 20px 25px;
  display: flex;
  & .logo {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: var(--text-xl);
    font-weight: 500;
    margin-right: auto;
    & .logo__img {
      height: 1.5em;
    }
    & .logo__text {
      flex-grow: 0;
      color: var(--black-900);
    }
  }

  & .main-nav--desktop {
    display: flex;
    gap: 2px;
    & > .nav-button {
      display: flex;
      gap: 4px;
      padding: 10px 13px;

      font-size: var(--text-base);
      align-items: center;
      color: var(--black-900);
      border: 1px solid transparent;
      border-radius: var(--border-radius-base);

      &:hover {
        background-color: var(--black-50);
      }
      & > .nav-button__icon {
        height: 1.1em;
      }
    }

    & > .nav-button--active {
      background-color: var(--blue-50);
      border-color: var(--black-200);
    }
  }
  & .main-nav--mobile {
    display: none;
  }
}
@media (max-width: 640px) {
  .main-header-container--mobile-menu-open {
    border-bottom: 1px solid var(--black-300);
    background: var(--black-50);
  }
  .main-header-layout {
    & .main-nav--desktop {
      display: none;
    }
    & .main-nav--mobile {
      display: block;
    }
  }
  .hamburger-menu {
    display: block;
    margin-bottom: 20px;
    & > .nav-button-mobile {
      display: flex;
      gap: 4px;
      padding: 10px 25px;
      border-bottom: 1px solid var(--black-100);

      &:last-child {
        border: none;
      }

      font-size: var(--text-base);
      align-items: center;
      color: var(--black-900);

      &:hover {
        background-color: var(--black-50);
      }
      &.nav-button-mobile--active {
        background: linear-gradient(
          to right,
          hsl(213, 97%, 86%) 0%,
          hsl(213, 97%, 96%) 100%
        );
        font-weight: bold;
      }
      & > img {
        height: 1.1em;
      }
    }
  }
}
