.container {
  padding-top: 85px;
  padding-bottom: 75px;
}
.main-heading {
  color: var(--black-900);
  text-align: center;
}
.times-and-calendar-wrapper {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 400px 1fr;
  min-height: 500px;
  gap: 30px;
}
.calendar {
  outline: 1px solid var(--black-300);
  transition: 0.1s all;
  outline-offset: 0;
  &:hover {
    outline-offset: 10px;
  }
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  & > iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }
}
.calendar-mobile {
  outline: 1px solid var(--black-300);
  transition: 0.1s all;
  outline-offset: 0;
  &:hover {
    outline-offset: 10px;
  }
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  height: 400px;
  & > iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }
}
.recurring-section__header {
  color: var(--black-900);
  margin-bottom: 50px;
  /* that time when we actually want collapsing margins */
}
.event {
  margin-top: 30px;
  & > .event__header {
    color: var(--black-900);
    font-weight: 700;
  }
  & > .event__subheading {
    margin-top: 2px;
    margin-bottom: 10px;
    color: var(--black-500);
    font-style: italic;
    font-weight: 500;
  }
  & > .event__location {
    margin-top: 2px;
    font-weight: 400;
    color: var(--black-500);
    & > .event__location__department {
      font-weight: 700;
    }
  }
}
.all-events-button {
  display: block;
  margin: 65px auto;
}

@media screen and (max-width: 768px) {
  .times-and-calendar-wrapper {
    grid-template-columns: none;
    grid-template-rows: 400px 1fr;
  }
  .calendar {
    height: 400px;
  }
}
