.title-section {
  text-align: center;
  margin-top: 190px;
  margin-bottom: 170px;
  position: relative;
}

@media (max-width: 768px) {
  .title-section {
    text-align: left;
    margin-top: 90px;
    margin-bottom: 90px;
    position: relative;
  }
}

.title-section__header {
  color: var(--black-900);
}

@media (max-width: 768px) {
  .title-section__header {
    color: var(--black-900);
    font-size: var(--text-xl);
    font-weight: 700;
  }
}

.title-section__desc {
  color: var(--black-500);
  line-height: 1.5;
  margin-top: 20px;
  font-size: 1.5rem;
  max-width: 800px;
  margin-inline: auto;
}

@media (max-width: 768px) {
  .title-section__desc {
    color: var(--black-500);
    line-height: 1.5;
    margin-top: 20px;
    font-size: var(--text-sm);
    max-width: 800px;
    margin-inline: auto;
  }
}
.tool-logo-slot {
  z-index: 99;
  position: absolute;
  --icon-size: 55px;
  cursor: grab;
  will-change: transform;
}

.tool-logo-slot:active {
  cursor: grabbing;
}

@media (max-width: 768px) {
  .tool-logo-slot {
    display: none;
  }
}

.tool-logo-slot {
  height: var(--icon-size);
  width: var(--icon-size);
  opacity: 0.6;
}

.tool-logo-slot:nth-child(1) {
  left: 0;
  top: 0;
}

.tool-logo-slot:nth-child(2) {
  top: calc(-1 * var(--icon-size) - 30px);
  left: 250px;
}

.tool-logo-slot:nth-child(3) {
  bottom: calc(-1 * var(--icon-size) - 30px);
  left: 100px;
}

.tool-logo-slot:nth-child(4) {
  bottom: calc(-1 * var(--icon-size) - 50px);
  left: 450px;
}

.tool-logo-slot:nth-child(5) {
  top: calc(-1 * var(--icon-size) - 30px);
  right: 450px;
}

.tool-logo-slot:nth-child(6) {
  bottom: calc(-1 * var(--icon-size) - 70px);
  right: 250px;
}

.tool-logo-slot:nth-child(7) {
  top: calc(-1 * var(--icon-size) - 50px);
  right: 150px;
}

.tool-logo-slot:nth-child(8) {
  top: calc(-1 * var(--icon-size)-50px);
  right: 10px;
}

.tool-logo-slot.tool-logo-slot--ai-san:hover {
  content: url("../../assets/ai-san.png");
}
.title-section__header__design-text {
  position: relative;
}
.decoration {
  position: absolute;
  /* background-color: blue; */
  inset: 0 -5px -7px;
  z-index: -1;
  --border-color: #24a4ff;
}
.decoration__line {
  background-color: var(--border-color);
  position: absolute;
}

.decoration__line:nth-child(1) {
  inset: 0 auto 0 0;
  width: 2px;
}

.decoration__line:nth-child(2) {
  inset: 0 0 0 auto;
  width: 2px;
}

.decoration__line:nth-child(3) {
  inset: 0 0 auto 0;
  height: 2px;
}

.decoration__line:nth-child(4) {
  inset: auto 0 0 0;
  height: 2px;
}

.decoration__square {
  position: absolute;
  height: 6px;
  width: 6px;
  border: 2px solid var(--border-color);
  background-color: var(--bg-color);
}

.decoration__square:nth-child(5) {
  top: -4px;
  left: -4px;
}

.decoration__square:nth-child(6) {
  top: -4px;
  right: -4px;
}

.decoration__square:nth-child(7) {
  bottom: -4px;
  left: -4px;
}

.decoration__square:nth-child(8) {
  bottom: -4px;
  right: -4px;
}
.title-section__header__code-block {
  color: var(--black-300);
  font-weight: 400;
  font-family: JetBrainsMono;
}
.project-tabs-container {
  --border-height: 4px;
  --border-left-px: 0;
  --border-right-px: 0;
  border-bottom: var(--border-height) solid var(--black-100);
  position: relative;
}

@media (max-width: 768px) {
  .project-tabs-container {
    display: none;
  }
}

.mobile-tabs-container {
  --border-height: 4px;
  --border-left-px: 0;
  --border-right-px: 0;
  border-bottom: var(--border-height) solid var(--black-100);
  position: relative;
  display: none;
}

@media (max-width: 768px) {
  .mobile-tabs-container {
    display: block;
  }
}

.project-tabs-container::after {
  transition: 0.5s cubic-bezier(0.27, 1.32, 0.41, 1);
  content: "";
  position: absolute;
  inset: auto 0 calc(-1 * var(--border-height));
  height: var(--border-height);
  background: linear-gradient(
    90deg,
    #36a5f2 0%,
    #d28dff 47.12%,
    #ff8d8d 99.52%
  );
  padding-left: var(--border-left-px);
  padding-right: calc(100% - var(--border-right-px));
  background-clip: content-box;
}

.desktop-visit-text {
  display: inline;
}

@media (max-width: 768px) {
  .desktop-visit-text {
    display: none;
  }
}

.mobile-project-icon {
  display: none;
}

@media (max-width: 768px) {
  .mobile-project-icon {
    display: inline;
  }
}

.mobile-visit-text {
  display: none;
}

@media (max-width: 768px) {
  .mobile-visit-text {
    display: inline;
  }
}
.project-tabs {
  padding: 1em;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}
.tab {
  display: flex;
  position: relative;
  gap: 10px;
  align-items: center;
  font-size: var(--text-xl);
  font-weight: 700;
  color: var(--black-900);
  padding: 18px 10px;
  border-bottom: var(--border-height) solid transparent;
  margin-bottom: calc(-1 * var(--border-height));
  transition: 0.15s border-color;
}

@media (max-width: 768px) {
  .tab {
    display: none;
  }
}

.tab[aria-selected="true"] {
  border-color: transparent;
}

.tab[aria-selected="true"]::after {
  content: '[aria-selected="true"]';
  position: absolute;
  inset: 0 -50px auto;
  text-align: center;
  transform: translate(0, -10px);
  font-size: var(--text-xs);
  font-family: JetBrainsMono;
  color: var(--black-300);
  animation: appear 0.3s;
}

.tab[aria-selected="true"]:hover {
  border-color: transparent;
}

.tab[aria-selected="true"]:hover:active {
  border-color: transparent;
}

.tab:hover {
  border-color: var(--black-300);
}

.tab:hover:active {
  border-color: transparent;
}
@keyframes appear {
  from {
    transform: translate(0);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.tab__image {
  height: 1.4em;
}
.panel-container {
  height: 450px;
  @media (min-height: 700px) {
    height: 550px;
  }
  margin-top: 35px;
  position: relative;
  border-radius: 11px;
  border: 1px solid var(--black-100);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.panel {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: 1fr 350px;
}

@media (max-width: 768px) {
  .panel {
    position: absolute;
    inset: 0;
    display: grid;
    grid-template-rows: 1fr 350px;
    grid-template-columns: 1fr;
  }
}
.panel__img {
  width: 100%;
  height: 100%;
  min-height: 0; /* prevents the image from making the grid taller than it already is */
  object-fit: cover;
  object-position: top left;
}
.panel__details {
  padding: 35px 25px;
  background-color: var(--blue-50);
  border-left: 5px solid var(--black-100);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  overflow: auto;
}

@media (max-width: 768px) {
  .panel__details {
    border-top: 3px solid var(--black-100);
    border-left: none;
    padding: 35px 25px;
    background-color: var(--blue-50);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    overflow: auto;
  }
}

.panel__details .panel__details__description {
  color: var(--black-900);
  font-size: 1.25rem;
  line-height: 1.5;
}

.panel__details .panel__details__footer {
  display: flex;
  align-items: center;
  gap: 25px;
}

.panel__details .panel__details__footer > button {
  background-color: var(--black-900);
  color: var(--black-50);
  padding: 7px 29px;
  border-radius: 99px;
  font-size: 1.125rem;
}

@media (max-width: 768px) {
  .panel__details .panel__details__footer > button {
    display: none;
  }
}

.panel__details .panel__details__footer > a {
  display: flex;
  vertical-align: middle;
  gap: 10px;
  align-content: center;
  color: var(--black-500);
}

.panel__details .panel__details__footer > a > img {
  opacity: 50%;
}

@media (max-width: 768px) {
  .panel__details .panel__details__footer > a > img {
    opacity: 100%;
  }
}

.contributor-row-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 60px 0 0;
  border: 4px solid var(--black-200);
  padding: 30px;
  border-left: 0;
  border-right: 0;
  align-items: center;
  color: var(--black-500);
}

@media (max-width: 768px) {
  .contributor-row-container {
    overflow: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    margin: 60px 0 0;
    border: 4px solid var(--black-200);
    padding: 30px;
    border-left: 0;
    border-right: 0;
    align-items: center;
    color: var(--black-500);
  }
}

.contributor-row-container .contributor-pill-container__text {
  font-size: 1.25rem;
  margin-right: -10px;
}

.contributor-pill-wrapper {
  position: relative;
}

.contributor-pill-wrapper:hover .contribution-popup {
  display: flex;
}

.contributor-pill {
  font-size: 1.2rem;
  border-radius: 20px;
  border: 1px solid var(--black-300);
  height: 30px;
  display: flex;
  padding: 5px 20px 5px 5px;
  align-items: center;
  gap: 10px;
  font-size: 1.25rem;
  color: var(--black-900);
}

.contributor-pill img {
  border-radius: 50%;
  height: 100%;
  aspect-ratio: 1 / 1;
}

.contributor-pill .contributor-pill__loading-icon {
  opacity: 40%;
  animation: rotate 1s cubic-bezier(0.41, 0.21, 0.56, 0.8) infinite;
}

.contributor-pill:not(.contributor-pill--inactive):hover {
  background-color: var(--black-50);
  cursor: pointer;
}

.contributor-pill:not(.contributor-pill--inactive):hover:active {
  background-color: var(--black-100);
}
.contribution-popup {
  /* in case the popup in its default position is not fully visible on the screen */
  --popup-offset-px: 0px;
  --bg-color: white;
  --bg-gradient: linear-gradient(
    90deg,
    hsl(from var(--bg-color) h s 95%) 0%,
    #f9f9f9 100%
  );

  display: none;
  animation: 0.2s fade-in-popup forwards ease-out;

  opacity: 0;
  z-index: 727;
  position: absolute;

  bottom: calc(100% + 10px);
  right: 50%;
  transform: translate(calc(50% + var(--popup-offset-px)), 0);
  min-height: 100px;
  padding: 20px 15px;
  width: 350px;
  box-sizing: border-box;
  gap: 22px;
  background: var(--bg-gradient);
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.15));

  border-radius: 10px;
  will-change: translate;
  border: 1px solid var(--black-200);
  border-bottom: none;
}

.contribution-popup::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -20px;
  height: 20px;
  background: var(--bg-gradient);
  mask-image: url("../../assets/icons/popup-arrow.svg");
  mask-repeat: no-repeat;
  mask-position: calc(50% - var(--popup-offset-px)) 0;
  mask-size: auto 40%;
  mask-border: 14px solid red;
}

.contribution-popup .contribution-popup__pfp {
  height: 66px;
  aspect-ratio: 1/1;
  flex-shrink: 0;
  border-radius: 10px;
  display: block;
}

.contribution-popup .contribution-popup__description {
  min-width: 0;
  overflow-wrap: break-word;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.contribution-popup
  .contribution-popup__description
  .contribution-popup__description__title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--black-900);
  font-size: 1rem;
}

.contribution-popup
  .contribution-popup__description
  .contribution-popup__description__title
  .contribution-popup__description__title__pr-number {
  color: var(--black-500);
  font-weight: lighter;
}

.contribution-popup
  .contribution-popup__description
  .contribution-popup__description__title
  .contribution-popup__description__title__icon {
  height: 1rem;
  vertical-align: middle;
  margin-right: 7px;
  margin-bottom: 4px;
}

.contribution-popup
  .contribution-popup__description
  .contribution-popup__description__footer {
  font-size: 0.75rem;
}

.contribution-popup
  .contribution-popup__description
  .contribution-popup__description__footer
  .footer__repo {
  color: var(--blue-600);
}

.contribution-popup
  .contribution-popup__description
  .contribution-popup__description__footer
  .footer__time {
  margin-left: 5px;
  color: var(--black-500);
}
@keyframes fade-in-popup {
  from {
    opacity: 0;
    bottom: calc(100% + 10px);
  }
  to {
    opacity: 1;
    bottom: calc(100% + 15px);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tab-handle {
  cursor: pointer;
  height: 1em;
  width: 3em;
  border-radius: 1em;
  background: grey;
  display: none;
}

@media (max-width: 768px) {
  .tab-handle {
    display: block;
  }
}

.tab-handle:hover {
  background-color: var(--black-50);
}
