.main-container {
  margin-top: 100px;
  background-color: var(--black-100);
  padding-top: 50px;
  padding-bottom: 75px;
}
.header {
  color: var(--black-900);
  text-align: center;
  margin: auto;
}
.header-mobile {
  color: var(--black-900);
  text-align: center;
}
.tartanhacks-logo {
  margin: 40px auto 0;
  display: block;
  height: 80px;
}

.tartanhacks-logo-mobile {
  width: 100%;
  margin: 20px auto 0;
  display: block;
  height: 80px;
}

.stat-box {
  background-color: #120902;
  border: 5px solid #90662e;
  color: #fdc274;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding-left: 30px;
  height: 100%;
  box-sizing: border-box;
  width: 370px;
}
.stat-box__number {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.1;
}
.stat-box__description {
  font-size: 1.875rem;
  font-weight: 700;
  font-family: "JetBrainsMono";
  text-wrap: nowrap;
}
.carousel-container {
  margin-top: 30px;
  &.carousel-container--first {
    margin-top: 60px;
  }
}
.all-events-button {
  margin: 50px auto 0;
  display: block;
}
